In [1]:
s = {2,5,9,{34,56,3}}
print(s,type(s))

TypeError: unhashable type: 'set'

In [2]:
s1 = {2,6,3,[67,34,1],'hii'}
print(s1,type(s1))

TypeError: unhashable type: 'list'

In [5]:
s2 = {2,6,3,(67,34,1),'hii'}
print(s2,type(s2))

{2, 3, 6, 'hii', (67, 34, 1)} <class 'set'>

In [7]:
l1 = [2,4,6,{2,4,5,7,'fyi'},'jee']
print(l1,type(l1))
print(type(l1[3]))

[2, 4, 6, {2, 'fyi', 4, 5, 7}, 'jee'] <class 'list'>
<class 'set'>

In [12]:
l1[-2].add('u')
print(l1)
l1[-2].clear()
print(l1)

[2, 4, 6, {2, 'fyi', 4, 7, 'u'}, 'jee']
[2, 4, 6, set(), 'jee']

In [13]:
t1 = (2,4,6,{2,4,5,7,'fyi',5+6j},'jee')
print(t1,type(t1),type(t1[-2]))

(2, 4, 6, {(5+6j), 2, 'fyi', 4, 5, 7}, 'jee') <class 'tuple'> <class 'set'>

In [14]:
t1[-2].remove(5)
print(t1)
t1[-2].add('you')
print(t1)

(2, 4, 6, {(5+6j), 2, 'fyi', 4, 7}, 'jee')
(2, 4, 6, {(5+6j), 2, 'fyi', 4, 7, 'you'}, 'jee')

In [15]:
del t1[-2]
print(t1)

TypeError: 'tuple' object doesn't support item deletion

In [16]:
t1[-2].clear()
print(t1)

(2, 4, 6, set(), 'jee')