In [5]:
s1 = {10,5,3,34}
s2 = {3,5}
s3 = {10,34,8}
s1.issuperset(s2)

True

In [4]:
s3.issuperset(s1)

False

In [3]:
s2.issuperset(s1)

False

In [6]:
s2.issuperset(s2)

True

In [7]:
set().issuperset(set())

True

In [8]:
s1.issubset(s2)

False

In [9]:
s2.issubset(s1)

True

In [10]:
s2.issubset(s3)

False

In [11]:
s3.issubset(s3)

True

In [12]:
set().issubset(set())

True

In [13]:
set().issubset(s2)

True

In [14]:
print(s1,s2,s3)

{10, 3, 34, 5} {3, 5} {8, 10, 34}

In [16]:
s4= s1.union(s2)
print(s4)

{34, 3, 5, 10}

In [17]:
s5= s1.union(s3)
print(s5)

{34, 3, 5, 8, 10}

In [19]:
s6 = s1.union(s2,s3)
print(s6)
s10 = {'joy',90}

{34, 3, 5, 8, 10}

In [21]:
s7 = s1.union(s3,s10)
print(s7)

{34, 3, 5, 90, 8, 'joy', 10}

In [22]:
f1 = s10.intersection(s7)
print(f1)

{'joy', 90}

In [24]:
f2 = set().intersection(s7)
print(f2)
f3 = set().intersection(set())
print(f3)

set()
set()

In [25]:
print(s4,s5,s1,s2,s3,s7,s10)

{34, 3, 5, 10} {34, 3, 5, 8, 10} {10, 3, 34, 5} {3, 5} {8, 10, 34} {34, 3, 5, 90, 8, 'joy', 10} {'joy', 90}

In [26]:
f4 = s4.difference(s7)
print(f4)

set()

In [27]:
f5 = s7.difference(s4)
print(f5)

{8, 'joy', 90}

In [28]:
set().difference(s2)

set()

In [29]:
s4.symmetric_difference(s7)

{8, 90, 'joy'}

In [30]:
set().symmetric_difference(s2)

{3, 5}

In [31]:
s4.union(s7).difference(s4.intersection(s7))

{8, 90, 'joy'}

In [32]:
print(s4,s7)

{34, 3, 5, 10} {34, 3, 5, 90, 8, 'joy', 10}

In [34]:
s4.update(s7)
print(s4,s7)

{34, 3, 5, 8, 10, 'joy', 90} {34, 3, 5, 90, 8, 'joy', 10}

In [35]:
s4.update(set())
print(s4)

{34, 3, 5, 8, 10, 'joy', 90}

In [37]:
s1 ={2,3,4,5,6,7}
s2 ={6,7,8,9}
s1.update(s2)
print(s1)

{2, 3, 4, 5, 6, 7, 8, 9}

In [38]:
s1.difference_update(s2)
print(s1)

{2, 3, 4, 5}

In [40]:
s2.difference_update(set())
print(s2)

{8, 9, 6, 7}

In [41]:
s1.symmetric_difference_update(s2)
print(s1)

{2, 3, 4, 5, 8, 9, 6, 7}

In [42]:
s1 = {10,20,25,30}
s2 = {20,35,40,25}
s1.union_update(s2)

AttributeError: 'set' object has no attribute 'union_update'

In [43]:
s1.intersection_update(s2)
print(s1)

{25, 20}